@{
    ViewData["Title"] = "Home Page";
    var peliculas = ViewBag.Cartelera as List<WebApplication_MVC_2024C2.Models.Pelicula>;
}

<body class="text-center">
    <!--
       <h2>Iniciar Sesión</h2>
       <form asp-action="Index" method="post" class="form-signin">
           <div class="form-group">
               <label for="Usuario" class="sr-only">Usuario</label>
               <input asp-for="Usuario" class="form-control" id="Usuario" required />
               <span asp-validation-for="Usuario" class="text-danger"></span>
           </div>

           <div class="form-group">
               <label for="Contraseña" class="sr-only">Password</label>
               <input asp-for="Contraseña" type="password" class="form-control" id="Contraseña" required />
               <span asp-validation-for="Contraseña" class="text-danger"></span>
           </div>

           <div class="checkbox mb-3">
               <label>
                   <input type="checkbox" value="remember-me"> Remember me
               </label>
           </div

            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
       </form>
       <div>
           <p>¿No tienes cuenta? <a href="../Views/NuevoUsuarios/Create.cshtml">Registrate!!</a></p>
       </div>
       -->

    <h1>PÁGINA DE INICIO</h1>


    <h1>Cartelera de Películas</h1>

    @if (peliculas != null && peliculas.Any())
    {
        <div class="row">
            @foreach (var pelicula in peliculas)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">@pelicula.Titulo</h5>
                            <p class="card-text"><strong>Descripción:</strong> @pelicula.Descripcion</p>
                            <p class="card-text"><strong>Clasificación:</strong> @pelicula.Clasificacion</p>
                            <p class="card-text"><strong>Número de Sala:</strong> @pelicula.NroDeSala</p>
                            <p class="card-text"><strong>Fecha:</strong> @pelicula.Fecha.ToString("dd/MM/yyyy HH:mm")</p>
                            <p class="card-text"><strong>Precio:</strong> $@pelicula.Precio</p>
                            <p class="card-text"><strong>Cantidad de Butacas:</strong> @pelicula.CantButacas</p>
                            <form asp-controller="Ventas" asp-action="RedirectToCreate" method="post">
                                <input type="hidden" name="peliculaId" value="@pelicula.Id" />
                                <button class="btn btn-primary btn-block" type="submit">Reservar</button>
                            </form>
                        </div>
                    </div>
                 </div>
            }
        </div>
    }
    else
    {
        <p>No hay películas disponibles en este momento.</p>
    }



</body>


@if (!ViewData.ModelState.IsValid)
{
    <p style="color:red">Credenciales incorrectas</p>
}
